{lib_dirs, []}.
{erl_first_files, []}.
{erl_opts, [{i, "include"}, {src_dirs, ["src"]}]}.
{erlydtl_opts, []}.
{cover_enabled, true}.
{clean_files, ["ebin/*.beam", "priv/log/*", "rel/ammonia"]}.
{target, "rel"}.
{app_bin, []}.
{deps_dir, ["deps"]}.
{deps, [
  {mochiweb, "1.7.1", {git, "git://github.com/basho/mochiweb.git", {tag, "mochiweb-1.7.1"}}},
  {yaws, "1.89", {git, "git://github.com/klacke/yaws.git", {tag, "yaws-1.89"}}},
  {webmachine, "1.8.0", {git, "git://github.com/basho/webmachine.git", {tag, "webmachine-1.8.0"}}},

  % TODO: change "HEAD" to {tag, "<version"}, when tags are created in these repos.
  {nitrogen_core,   "2.1.*",  {git, "git://github.com/nitrogen/nitrogen_core.git", "HEAD"}},
  {nprocreg,        "0.2.*",  {git, "git://github.com/nitrogen/nprocreg.git", "HEAD"}},
  {simple_bridge,   "1.2.*",  {git, "git://github.com/nitrogen/simple_bridge.git", "HEAD"}},
  {sync,            "0.1.*",  {git, "git://github.com/rklophaus/sync.git", "HEAD"}},
  {edown, ".*", {git, "git://github.com/esl/edown.git", "HEAD"}}
]}.
{edoc_opts, [{doclet, edown_doclet}]}.
{sub_dirs, []}.
